:root {
    --disable-color: rgb(36, 36, 36);
    --enable-color: white;
}

@font-face {
    font-family: "WordclockStencilMono";
    src: url("../font/WordclockStencilMono.woff");
}

body {
    background-color: black;
    color: var(--disable-color);
    font-family: "WordclockStencilMono";
    font-size: 50px;
}

.enable {
    color: var(--enable-color);
    transition: 2s;
}

.disable {
    color: var(--disable-color);
    transition: 2s;
}

table {
    margin: auto;
    margin-top: 20px;
    border-style: double;
    width: 50%;
    height: 90vh;
}

td {
    text-align: center;
    color: var(--disable-color);
    position: relative;
    width: 9%;
}